<section id="landing">
  <div class="container purpose-container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <h1 class="strong landing-heading text-center">PURPOSE</h1>
        <hr class="light"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <p class="text-center purpose-text">Offer a simple, accessible platform to play competitive chess.  Connect with players from around the world with instant queue, open lobby, and private invites.  Professional training system, viewable game histories, unrestricted chat messaging, and more- all here and freely available for you, the passionate fan of the age-old, undying legacy that we know and love.</p>
      </div>
    </div>
  </div>
  <div class="container future-container">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <h1 class="strong landing-heading text-center">FUTURE</h1>
        <hr class="light"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <p class="text-center future-text">Global Elo rating systems. Private and public chess clubs, with internal Elo rating systems. Both random and non-random streaming/viewing of active games. Professional chess writers and training software.  Continually improve functionality and user experience.</p>
      </div>
    </div>
  </div>
</section>